# Setup and Imports

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from kaggle.api.kaggle_api_extended import KaggleApi
from zipfile import ZipFile

# Download the Data from Kaggle

In [2]:
#Create the API to interact with Kaggle
api = KaggleApi()
#Authenticate using API credentials
api.authenticate()

In [5]:
#Download the competition files
api.competition_download_files('nlp-getting-started')
#Open the zip file
zf = ZipFile('nlp-getting-started.zip')
#Extract the files and specify the location
zf.extractall("data\\") 
#Close the zip file
zf.close()

# Read in the Training Data

In [6]:
tweets_train = pd.read_csv("data/train.csv")

In [7]:
tweets_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [8]:
tweets_train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64